.admin-login {
  margin-top: 100px;
}

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin .admin-vertical-nav {
  padding-right: 0px !important;
}

.admin .admin-vertical-nav .ui.vertical.menu {
  width: 18rem;
}

.admin .admin-content {
  width: 100%;
  padding-left: 0px !important;
}

.admin .admin-content .logout a {
  background: #db2828 !important;
}

.admin .admin-content .accordion .api-name {
  width: 400px;
}

body #wrap {
  width: 970px;
  height: auto;
  margin: 0 auto;
}

body #wrap #header {
  width: 100%;
  height: 80px;
}

body #wrap #header .logo {
  float: left;
  width: 150px;
  height: 100%;
}

body #wrap #header .logo img {
  height: 100%;
}

body #wrap #header .menu-top {
  float: right;
  height: 100%;
}

body #wrap #header .menu-top .menu {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body #wrap #header .btns {
  float: right;
  width: 200px;
  height: 100%;
}

body #wrap #header .btns button {
  float: right;
  margin-top: 20px;
  margin-right: 32px;
  font-size: 15px;
}

body #wrap #banner {
  width: 100%;
  height: auto;
}

body #wrap #createEvent {
  width: 100%;
  height: auto;
  background-color: green;
}

body #wrap #createEvent h2 {
  padding: 20px 0;
}

body #wrap #createEvent .form_segment1,
body #wrap #createEvent .form_segment2,
body #wrap #createEvent .form_segment3 {
  width: 0px;
}

body #wrap #createEvent .form_segment2 .calendar {
  margin-bottom: 5px;
}

body #wrap #createEvent .form_segment2 .calendar .button {
  margin-right: 0px;
}

body #wrap #createEvent .form_segment2 .calendar .input {
  width: 83%;
  margin-right: 8px;
}

body #wrap #createEvent .form_segment3 .form_action .card .extra button {
  width: 100%;
  background-color: #1a69a4;
}

body #wrap #createEvent .form_segment3 .form_action .card .extra label .input {
  margin-top: -6px;
}

body #wrap #createEvent .form_segment3 .form_action .card .extra input {
  padding-bottom: 7px;
}

body #wrap #createEvent .form_segment3 .form_action .card .extra .button {
  padding: 8px;
  margin-right: 0px;
}

body #wrap #createEvent .form_segment3 .form_action .card .extra .checkbox {
  width: 85%;
}

body #wrap #createEvent .form_segment3 .form_action .card .extra .seg3_del {
  margin-left: 4px;
}

body #wrap #createEvent .form_segment3 .form_action .createBtn {
  margin-left: 100px;
}

body #wrap #recentlyEvent {
  width: 100%;
  height: 250px;
  background-color: blue;
}

body #wrap #footer {
  width: 100%;
  height: 100px;
  background-color: pink;
}

