.admin-login {
  margin-top: 100px
}

.admin {
  display: flex;
  .admin-vertical-nav {
    padding-right: 0px !important;
    .ui.vertical.menu {
      width: 18rem
    }
  }
  .admin-content {
    width: 100%;
    padding-left: 0px !important;
    .logout a{
      background: #db2828 !important;
    }
    .accordion {
      .api-name {
        width: 400px;
      }
      .api-name {
        
      }
    }
  }
}