body {
  #wrap {
    width: 970px;
    height: auto;
    margin: 0 auto;

    // header
    #header {
      width: 100%;
      height: 80px;
      // Logo
      .logo {
        float: left;
        width: 150px;
        height: 100%;
        img {
          height: 100%;
        }
      }

      .menu-top {
        float: right;
        height: 100%;
        .menu {
          height: 100%;
          margin: 0;
          font-size: 16px;
        }
      }

      // Buttons
      .btns {
        float: right;
        width: 200px;
        height: 100%;
        button {
          float: right;
          margin-top: 20px;
          margin-right: 32px;
          font-size: 15px;
        }
      }
    }

    // banner
    #banner {
      width: 100%;
      height: auto;
      img {
        // height: 100%;
      }
    }

    // createEvent
    #createEvent {
      width: 100%;
      height: auto;
      background-color: green;
      h2 {
        padding: 20px 0;
      };
      .form_segment1, .form_segment2, .form_segment3 {
        width: 0px;
      }
      .form_segment2 {
        .calendar{
          margin-bottom: 5px;
          .button {
            margin-right: 0px;
          }
          .input{
            width: 83%;
            margin-right: 8px
          }
        }
      }
      .form_segment3 {
        .form_action {
          .card {
            .extra {
              button {
                width: 100%;
                background-color: #1a69a4
              }
              label .input {
                margin-top: -6px;
              }
              input {
                padding-bottom: 7px;
              }
              .button {
                padding: 8px;
                margin-right: 0px;
              }
              .checkbox {
                width: 85%
              }
              .seg3_del {
                margin-left: 4px;
              }
            }
          }
          .createBtn {
            margin-left: 100px;
          }
        }
      }
    }

    // recentlyEvent
    #recentlyEvent {
      width: 100%;
      height: 250px;
      background-color: blue
    }

    // footer
    #footer {
      width: 100%;
      height: 100px;
      background-color: pink
    }
  }
}