.admin-login {
  margin-top: 100px;
}

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin .admin-vertical-nav {
  padding-right: 0px !important;
}

.admin .admin-vertical-nav .ui.vertical.menu {
  width: 18rem;
}

.admin .admin-content {
  width: 100%;
  padding-left: 0px !important;
}

.admin .admin-content .logout a {
  background: #db2828 !important;
}

.admin .admin-content .accordion .api-name {
  width: 400px;
}

